body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}
a{
    color: black;
    transition: all .3s;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}
a:hover{
    color: black;
    text-decoration-color: rgba(0, 0, 0, 1);
}
input{
    width: 100%;
}
.edit{
    font-size: 1.2rem;
    background-color: rgb(120, 208, 255);
    box-shadow: 0 2px 16px rgba(13, 20, 28, 0.05);
    padding: 5px 16px;
    border-radius: .2rem;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 70vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    padding-left: 1.4rem;
}

.sidebar h2 {
    margin-top: 5px;
    font-size: 2.4rem;
}
.wiki-img{
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    margin-bottom: 1rem;
}