body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar h2 {
    margin-top: 5px;
}
a{
    color: black;
    transition: all .3s;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}
a:hover{
    color: black;
    text-decoration-color: rgba(0, 0, 0, 1);
}
input{
    width: 100%;
}